<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ILibrary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ILibrary.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">


            <ul>
                <li><a href="#">Главаная</a></li>
                <li><a href="#">Бронирование Книг</a></li>
                <li><a href="#">Выдача Книг</a></li>
                <li><a href="#">Список Книг</a></li>
                <li><a href="#">Топ 100 книг</a></li>
            </ul>

            <style>
                nav {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-height: 10vh;
                    background-color: #067d7d;
                }

                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                li {
                    display: block;
                    padding: 0 20px;
                    color: #fff;
                    font-size: 25px;
                    font-family: sans-serif;
                    text-transform: uppercase;
                    transition: .5s;
                }

                    li a {
                        text-decoration: none;
                        color: #fff;
                        transition: .5s;
                        padding: 10px;
                    }

                ul:hover li a {
                    filter: blur(5px);
                }

                    ul:hover li a:hover {
                        font-size: 30px;
                        filter: blur(0px);
                        background-color: #ede739;
                    }

            </style>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
       
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
