
<form class="form-style" asp-controller="Issuance" asp-action="GetIssuance">

    <label>Enter ISBN</label>
    <input type="text" placeholder="Enter ISBN" required>
    <label>Enter Author</label>
    <input type="text" placeholder="Enter AuthorName" required>
    <label>Enter Book</label>
    <input type="text" placeholder="Enter BookTitels" required></br>
    <input type="submit" value="Send">

</form>







<style>
    .forma {
        margin: 0 auto;
        border: 2px solid black;
        width: 184px;
    }
</style>

